<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recompensas Diária</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-custom">
    <h1 class="title-large">Recompensa Diária</h1>
    <ion-list>
      <ion-item class="card-item-custom">
        <ion-label>Segunda-feira</ion-label>
        <ion-button class="btn-custom" expand="block" (click)="segunda()">Obter</ion-button>
      </ion-item>

      <ion-item class="card-item-custom">
        <ion-label>Terça-feira</ion-label>
        <ion-button class="btn-custom" expand="block" (click)="terca()">Obter</ion-button>
      </ion-item>

      <ion-item class="card-item-custom">
        <ion-label>Quarta-feira</ion-label>
        <ion-button class="btn-custom" expand="block" (click)="quarta()">Obter</ion-button>
      </ion-item>

      <ion-item class="card-item-custom">
        <ion-label>Quinta-feira</ion-label>
        <ion-button class="btn-custom" expand="block" (click)="quinta()">Obter</ion-button>
      </ion-item>

      <ion-item class="card-item-custom">
        <ion-label>Sexta-feira</ion-label>
        <ion-button class="btn-custom" expand="block" (click)="sexta()">Obter</ion-button>
      </ion-item>

      <ion-item class="card-item-custom">
        <ion-label>Sabádo</ion-label>
        <ion-button class="btn-custom" expand="block" (click)="sabado()">Obter</ion-button>
      </ion-item>

      <ion-item class="card-item-custom">
        <ion-label>Domingo</ion-label>
        <ion-button class="btn-custom" expand="block" (click)="domingo()">Obter</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button expand="block" color="primary" shape="round" class="custom-btn" (click)="voltar()" style="margin-top: 24px;">
  <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
  Voltar
</ion-button>
</ion-content>
