<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Opções</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <br><br>
  <ion-button expand="block" (click)="diaria()">Resgate de Recompensa Diária</ion-button>
  <ion-button expand="block" (click)="herois()">Escolher outro Herói</ion-button>
  <ion-button expand="block" (click)="loja()">Loja de Itens</ion-button>
  <ion-button expand="block" (click)="glossario()">Glossário de Plantas</ion-button>
</ion-content>
