<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Jogar</ion-title>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br><br>
<ion-button expand="block" id="present-alert" (click)="perguntas()">Começar</ion-button>
<ion-alert
  trigger="present-alert"
  header="Por Favor Insira suas Informações"
  [buttons]="alertButtons"
  [inputs]="alertInputs"
></ion-alert>

</ion-content>
