<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quiz de Plantas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <!-- perguntas.page.html -->
  <div *ngIf="perguntas.length">
    <h2>{{ perguntas[perguntaAtual].texto }}</h2>
    <ion-button *ngFor="let alt of perguntas[perguntaAtual].alternativas; let i = index"
                expand="block"
                (click)="responder(i)">
      {{ alt }}
    </ion-button>
    <p>Pergunta {{ perguntaAtual + 1 }} de {{ perguntas.length }}</p>
    <p>Pontuação: {{ pontuacao }}</p>
  </div>
</ion-content>
