<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Histórico de Atividades</ion-title>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
  <ion-label></ion-label>
</ion-item>

<ion-item>
  <ion-label>
   O usuario jogou 10 partidas e perdeu. Tempo medio de 30minutos
  </ion-label>
</ion-item>

<ion-item>
  <ion-label class="ion-text-nowrap">
    O usuario reportou um defeito no jogo às 10 horas.
  </ion-label>
</ion-item>
</ion-content>
