<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Histórico de Atividades</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-custom">
    <ion-list>
      <ion-item class="card-item-custom">
        <ion-label></ion-label>
      </ion-item>
      <ion-item class="card-item-custom">
        <ion-label>
          O usuário jogou 10 partidas e perdeu. Tempo médio de 30 minutos
        </ion-label>
      </ion-item>
      <ion-item class="card-item-custom">
        <ion-label class="ion-text-nowrap">
          O usuário reportou um defeito no jogo às 10 horas.
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button expand="block" color="primary" shape="round" class="custom-btn" (click)="voltar()" style="margin-top: 24px;">
  <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
  Voltar
</ion-button>
</ion-content>
